# 통계 세션 과제!

## 과제 1
- list_A와 list_B 각각의 평균, 분산, 중간값을 구하시오
- list_A와 list_B의 공분산, 상관계수를 구하시오
<br><br>HINT!
<br>1. 공분산, 상관계수 구할때 둘을 합쳐서 데이터프레임으로 만들고 해보세요!
<br>2. 공분산과 상관계수는 어떤 값이지 데이터프레임 형태가 아닙니다!

In [20]:
import pandas as pd

In [21]:
list_A = [10, 3, 6, 17, 12, 1, 14, 19, 7, 15, 3, 4, 15, 8, 5, 13, 11, 2, 20, 16]
list_B = [17, 2, 6, 14, 10, 16, 1, 8, 3, 7, 7, 12, 20, 18, 4, 11, 5, 19, 15, 9]

In [22]:
df1=pd.DataFrame(list_A)

In [23]:
df2=pd.DataFrame(list_B)

In [25]:
df1.mean() #리스트 a 평균

0    10.05
dtype: float64

In [26]:
df2.mean() #리스트 b 평균

0    10.2
dtype: float64

In [27]:
df1.var() #리스트a 분산

0    35.734211
dtype: float64

In [28]:
df2.var()#리스트b분산

0    35.221053
dtype: float64

In [29]:
df1.median() #리스트a중앙값

0    10.5
dtype: float64

In [30]:
df2.median() #리스트b중앙값

0    9.5
dtype: float64

In [33]:
num=pd.merge(df1,df2) # 두 데이터프레임 합치기

In [34]:
num.cov() # 공분산 구하기

           0
0  35.671053

In [35]:
num.corr() #상관계수 구하기

     0
0  1.0

## 과제 2
- 표본집단의 크기가 커지면 그 표본평균이 모평균에 가까워지는 현상을 무엇이라고 하나요?

대수의 법칙

## 과제 3
- 이산확률분포 예시 1개, 연속확률분포 예시 1개를 적어주세요!

- 이산확률분포: 이항분포(동전던지기)
- 연속확률분포: 정규분포

## 과제 4
OX문제
- 3-(1)번 : 귀무가설이 참임에도 거짓이라고 판단하는 오류를 제 2종 오류라고 한다 (O / X)
- 3-(2)번 : 모집단이 이항 분포일때 그 모집단에서 추출한 표본 10000개의 각 평균들이 이루는 분포는 이항분포이다. (O / X)
- 3-(3)번 : 검정 통계량 T가 매우 크면 귀무가설을 기각한다 (O / X)
- 3-(4)번 : 1종 오류를 작게끔 설정하면 2종 오류가 커진다 (O / X)
- 3-(5)번 : p-value가 유의수준보다 크면 귀무가설을 기각한다  (O / X)

x x o o o

## 과제 5
- 아래 코드의 결과대로면 광고 전략은 실패했는지, 실패하지 않았는지 검정하시오

In [31]:
import numpy as np
import scipy.stats as stats

# 실험 데이터 생성 
np.random.seed(42)
data = np.random.normal(loc=2, scale=1, size=50)

# 귀무가설(H0) : 광고 전략이 실패한 것이 아니다
# 대립가설(H1) : 광고 전략이 실패했다

# 유의수준 설정
alpha = 0.01

# 검정 통계량 계산
t_stat, p_value = stats.ttest_1samp(data, 1.5)
print(f't_stat : {t_stat}, p_value : {p_value}')

t_stat : 2.079102000331699, p_value : 0.042863871998196565

p값이 유의수준 0.01보다 크므로 귀무가설을 기각하지 않는다. 따라서 광고 전략이 실패한 것은 아니다.