# 통계 세션 과제!

## 과제 1
- list_A와 list_B 각각의 평균, 분산, 중간값을 구하시오
- list_A와 list_B의 공분산, 상관계수를 구하시오
<br><br>HINT!
<br>1. 공분산, 상관계수 구할때 둘을 합쳐서 데이터프레임으로 만들고 해보세요!
<br>2. 공분산과 상관계수는 어떤 값이지 데이터프레임 형태가 아닙니다!

In [20]:
list_A = [10, 3, 6, 17, 12, 1, 14, 19, 7, 15, 3, 4, 15, 8, 5, 13, 11, 2, 20, 16]
list_B = [17, 2, 6, 14, 10, 16, 1, 8, 3, 7, 7, 12, 20, 18, 4, 11, 5, 19, 15, 9]

In [21]:
from statistics import mean, variance, median

print('list_A')
print('평균 :', mean(list_A))
print('분산 :', variance(list_A))
print('중간값 : ', median(list_A))

print('\n')

print('list_B')
print('평균 :', mean(list_B))
print('분산 :', variance(list_B))
print('중간값 : ', median(list_B))

list_A
평균 : 10.05
분산 : 35.73421052631579
중간값 :  10.5


list_B
평균 : 10.2
분산 : 35.22105263157895
중간값 :  9.5

In [33]:
import pandas as pd

df = pd.DataFrame([[10, 3, 6, 17, 12, 1, 14, 19, 7, 15, 3, 4, 15, 8, 5, 13, 11, 2, 20, 16],
                  [17, 2, 6, 14, 10, 16, 1, 8, 3, 7, 7, 12, 20, 18, 4, 11, 5, 19, 15, 9]], index=['list_A', 'list_B']).T
df

    list_A  list_B
0       10      17
1        3       2
2        6       6
3       17      14
4       12      10
5        1      16
6       14       1
7       19       8
8        7       3
9       15       7
10       3       7
11       4      12
12      15      20
13       8      18
14       5       4
15      13      11
16      11       5
17       2      19
18      20      15
19      16       9

In [38]:
print('상관계수 : ', df['list_A'].corr(df['list_B']))
print('공분산 : ', df['list_A'].cov(df['list_B']))

상관계수 :  0.060528972352169544
공분산 :  2.147368421052631

## 과제 2
- 표본집단의 크기가 커지면 그 표본평균이 모평균에 가까워지는 현상을 무엇이라고 하나요?

**대수의 법칙**

## 과제 3
- 이산확률분포 예시 1개, 연속확률분포 예시 1개를 적어주세요!

**이산확률분포** : 베르누이분포, 이항분포, 포아송분포  
**연속확률분포** : 정규분포

## 과제 4
OX문제
- 3-(1)번 : 귀무가설이 참임에도 거짓이라고 판단하는 오류를 제 2종 오류라고 한다 (O / X)
- 3-(2)번 : 모집단이 이항 분포일때 그 모집단에서 추출한 표본 10000개의 각 평균들이 이루는 분포는 이항분포이다. (O / X)
- 3-(3)번 : 검정 통계량 T가 매우 크면 귀무가설을 기각한다 (O / X)
- 3-(4)번 : 1종 오류를 작게끔 설정하면 2종 오류가 커진다 (O / X)
- 3-(5)번 : p-value가 유의수준보다 크면 귀무가설을 기각한다  (O / X)

**1. X => 위의 설명은 1종 오류**  
**2. X => 관계없이 정규분포에 가까워짐**  
**3. O**  
**4. O**  
**5. X => 귀무가설을 채택한다.**

## 과제 5
- 아래 코드의 결과대로면 광고 전략은 실패했는지, 실패하지 않았는지 검정하시오

In [55]:
import numpy as np
import scipy.stats as stats

# 실험 데이터 생성 
np.random.seed(42)
data = np.random.normal(loc=2, scale=1, size=50)

# 귀무가설(H0) : 광고 전략이 실패한 것이 아니다
# 대립가설(H1) : 광고 전략이 실패했다

# 유의수준 설정
alpha = 0.01

# 검정 통계량 계산
t_stat, p_value = stats.ttest_1samp(data, 1.5)
print(f't_stat : {t_stat}, p_value : {p_value}')

t_stat : 2.079102000331699, p_value : 0.042863871998196565

가설 검증 시에는 유의 확률 p-value가 유의 수준(alpha)보다 클 때 귀무가설을 채택하고, 작을 때 귀무가설을 기각한다.  
코드의 결과를 살펴봤을 때 p-value가 유의 수준보다 크기 때문에 (0.042~ > 0.01) 귀무가설을 채택한다.  

_**H0 : 광고 전략이 실패한 것이 아니다** 가 참이므로 광고 전략은 실패하지 않았다._