# 통계 세션 과제!

## 과제 1
- list_A와 list_B 각각의 평균, 분산, 중간값을 구하시오
- list_A와 list_B의 공분산, 상관계수를 구하시오
<br><br>HINT!
<br>1. 공분산, 상관계수 구할때 둘을 합쳐서 데이터프레임으로 만들고 해보세요!
<br>2. 공분산과 상관계수는 어떤 값이지 데이터프레임 형태가 아닙니다!

In [3]:
list_A = [10, 3, 6, 17, 12, 1, 14, 19, 7, 15, 3, 4, 15, 8, 5, 13, 11, 2, 20, 16]
list_B = [17, 2, 6, 14, 10, 16, 1, 8, 3, 7, 7, 12, 20, 18, 4, 11, 5, 19, 15, 9]

In [22]:
from statistics import mean, median ,variance
import pandas as pd

print(mean(list_A), variance(list_A),median(list_A))
print(mean(list_B), variance(list_B),median(list_B))

10.05 35.73421052631579 10.5
10.2 35.22105263157895 9.5

In [26]:
df = pd.DataFrame({"list_A" : list_A, "list_B" : list_B})
df

    list_A  list_B
0       10      17
1        3       2
2        6       6
3       17      14
4       12      10
5        1      16
6       14       1
7       19       8
8        7       3
9       15       7
10       3       7
11       4      12
12      15      20
13       8      18
14       5       4
15      13      11
16      11       5
17       2      19
18      20      15
19      16       9

In [29]:
df.cov()

           list_A     list_B
list_A  35.734211   2.147368
list_B   2.147368  35.221053

In [30]:
df.corr()

          list_A    list_B
list_A  1.000000  0.060529
list_B  0.060529  1.000000

In [34]:
df.cov().iloc[1,0] #공분산

2.147368421052631

In [35]:
df.corr().iloc[1,0] #상관 계수

0.06052897235216952

## 과제 2
- 표본집단의 크기가 커지면 그 표본평균이 모평균에 가까워지는 현상을 무엇이라고 하나요?

대수의 법칙 / 라플라스 정리 (LLN:Law of Large Numbers)

## 과제 3
- 이산확률분포 예시 1개, 연속확률분포 예시 1개를 적어주세요!

이산: 이항 분포 ,연속: 정규 분포

## 과제 4
OX문제
- 3-(1)번 : 귀무가설이 참임에도 거짓이라고 판단하는 오류를 제 2종 오류라고 한다 (O / X)
- 3-(2)번 : 모집단이 이항 분포일때 그 모집단에서 추출한 표본 10000개의 각 평균들이 이루는 분포는 이항분포이다. (O / X)
- 3-(3)번 : 검정 통계량 T가 매우 크면 귀무가설을 기각한다 (O / X)
- 3-(4)번 : 1종 오류를 작게끔 설정하면 2종 오류가 커진다 (O / X)
- 3-(5)번 : p-value가 유의수준보다 크면 귀무가설을 기각한다  (O / X)

3-(1) : X
 3-(2) : X
 3-(3) : O
 3-(4): O
 3-(5): X

## 과제 5
- 아래 코드의 결과대로면 광고 전략은 실패했는지, 실패하지 않았는지 검정하시오

In [55]:
import numpy as np
import scipy.stats as stats

# 실험 데이터 생성 
np.random.seed(42)
data = np.random.normal(loc=2, scale=1, size=50)

# 귀무가설(H0) : 광고 전략이 실패한 것이 아니다
# 대립가설(H1) : 광고 전략이 실패했다

# 유의수준 설정
alpha = 0.01

# 검정 통계량 계산
t_stat, p_value = stats.ttest_1samp(data, 1.5)
print(f't_stat : {t_stat}, p_value : {p_value}')

t_stat : 2.079102000331699, p_value : 0.042863871998196565

p_value > alpha, 따라서 귀무 가설을 채택해야하므로 광고 전략은 실패한 것이 아니다